.menu__inner ul li,
.u-m {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium",
    "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
}
.u-anchor {
  margin-top: -112px;
  padding-top: 112px;
}
.u-anchor#home-visual {
  margin-top: -37px;
  padding-top: 37px;
}
.u-ttl__01 {
  font-size: 20px;
}
.u-ttl__02 {
  font-size: 20px;
}
.u-ttl__04 {
  font-size: 27px;
}
.u-ttl__dot:before {
  top: 12px;
  left: -15px;
  width: 6px;
  height: 6px;
}
.u-txt__label {
  font-size: 10px;
  line-height: 1.7;
}
.lang-ja .u-txt__label {
  font-size: 10px;
}
.u-txt__link {
  font-size: 12px;
}
.u-txt__link a {
  padding-bottom: 6px;
  border-bottom: #000 4px solid;
}
.u-txt__link a:before {
  content: none;
}
.u-txt__link a:hover {
  color: #000;
}
.u-txt__link.u-txt__link--white a:hover {
  color: #fff;
}
.u-txt__link--blank a {
  transition: none;
}
.u-txt__link--blank a:after {
  top: -5px;
  right: -12px;
  width: 7px;
  height: 7px;
}
.u-txt__link--blank a:hover:after {
  opacity: 1;
}
.u-listLink {
  font-size: 12px;
}
.u-listLink a {
  padding: 18px 0;
  transition: none;
}
.u-listLink a:after {
  right: 8px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
}
.u-listLink a:before {
  content: none;
  transition: none;
}
.u-listLink a:hover {
  color: #000;
}
.u-txt {
  line-height: 2;
  letter-spacing: 0.05em;
}
.u-artworks {
  margin-top: 70px;
  padding: 70px 0 75px;
}
.u-artworks:after,
.u-artworks:before {
  width: 2px;
  height: 32px;
}
.u-artworks:before {
  top: -32px;
}
.u-artworks:after {
  top: 0;
}
.u-artworks .u-ttl__03 {
  font-size: 20px;
  line-height: 1;
}
.u-artworks .u-txt_16 {
  margin-top: 25px;
  font-size: 12px;
  line-height: 2;
}
.u-artworks .u-txt_16 br {
  display: block;
}
.u-artworks .u-txt__link {
  margin-top: 28px;
}
.u-pagenavi {
  margin-top: 60px;
  padding-bottom: 0;
}
.u-pagenavi__wrap a {
  width: 6px;
  height: 6px;
  transition: none;
}
.u-pagenavi__wrap a:hover {
  opacity: 1;
}
.u-pagenavi__wrap a:before {
  top: -4px;
  width: 6px;
  height: 6px;
}
.u-pagenavi__wrap:first-of-type {
  margin-right: 20px;
}
.u-pagenavi__wrap:nth-of-type(2) {
  margin-left: 20px;
}
.u-pagenavi__pager .wp-pagenavi {
  display: flex;
  justify-content: center;
}
.u-pagenavi__pager a {
  transition: none;
}
.u-pagenavi__pager a:hover {
  opacity: 1;
}
.u-pagenavi__pager .current,
.u-pagenavi__pager .first,
.u-pagenavi__pager .last,
.u-pagenavi__pager .page {
  margin: 0 12px;
  font-size: 10px;
  padding: 0 2px 6px;
  border-bottom: transparent 2px solid;
}
.u-pagenavi__pager .first:after,
.u-pagenavi__pager .last:after {
  width: 15px;
  top: 8px;
}
.u-pagenavi__pager .first {
  margin-right: 55px;
}
.u-pagenavi__pager .first:after {
  right: -42px;
}
.u-pagenavi__pager .last {
  margin-left: 55px;
}
.u-pagenavi__pager .last:after {
  left: -42px;
}
.u-pagenavi__pager .current {
  border-bottom: #000 2px solid;
}
.u-pageTtl {
  margin-top: 25px;
}
.lang-ja .u-pageTtl .u-txt__label {
  font-size: 10px;
  margin-top: 8px;
}
.u-pageTtl__txt {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.u-pageTtl__txtLabel {
  font-size: 27px;
}
.u-pageTtl__line {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 30px;
  height: 7px;
}
.u-pageTtl__line span {
  height: 7px;
}
.u-pageTtl__line:after {
  height: 7px;
}
header {
  min-width: auto;
  padding: 0;
  z-index: 2;
}
.js-header-stick header {
  padding: 0;
}
.header__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  position: relative;
}
.header__logo {
  float: left;
  height: 84px;
  margin: 21px 0;
}
.header__logo a p.header__logoSymbol {
  width: 55px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.header__logo a p.header__logoTxt {
  margin-top: 5px;
  /* width: 71px; */
  width: 40px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.js-header-stick .header__logo {
  height: 65px; /*34*/
  margin: 15px 0;
}
.js-header-stick .header__logo a p.header__logoSymbol {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.6139);
  transform: scale(0.6139);
}
.js-header-stick .header__logo a p.header__logoTxt {
  width: 34px;
}
.home .header__logo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.home .header__logo .header__logoSymbol {
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.home .header__logo .header__logoTxt {
  transition: none;
}
.home.js-header-stick .header__logo {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.home.js-header-stick .header__logo .header__logoSymbol {
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.home.js-header-stick .header__logo .header__logoTxt {
  transition: none;
}
.is-menu-active {
  position: fixed;
}
.menuBtn {
  position: absolute;
  top: 32px;
  right: 24px;
  width: 30px;
  height: 13px;
  z-index: 1;
}
.menuBtn .menuBtn__inner {
  position: relative;
}
.menuBtn .menuBtn__inner a {
  display: block;
  width: 100%;
  height: 13px;
}
.menuBtn .menuBtn__inner a span {
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
}
.menuBtn .menuBtn__inner a span:first-child {
  top: 0;
}
.menuBtn .menuBtn__inner a span:nth-child(2) {
  top: 6px;
}
.menuBtn .menuBtn__inner a span:nth-child(3) {
  top: 12px;
}
.menuBtn .menuBtn__inner a.js-open span:first-child {
  -webkit-transform: translateY(8px) rotate(-40deg);
  transform: translateY(8px) rotate(-40deg);
}
.menuBtn .menuBtn__inner a.js-open span:nth-child(2) {
  opacity: 0;
}
.menuBtn .menuBtn__inner a.js-open span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(40deg);
  transform: translateY(-8px) rotate(40deg);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.9);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}
.menu.js-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.menu.js-active .menu__inner ul {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    visibility 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s,
    -webkit-transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}
.menu__inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu__inner ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  visibility: hidden;
  opacity: 0;
}
.menu__inner ul li {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 52px;
}
.menu__inner ul li:last-child {
  margin-bottom: 0;
}
.menu__inner ul li a {
  color: #fff;
  text-decoration: none;
}
.menu_closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.menu_closeBtn .menu_closeBtn__inner {
  position: relative;
}
.menu_closeBtn .menu_closeBtn__inner a {
  display: block;
  width: 100%;
  height: 30px;
}
.menu_closeBtn .menu_closeBtn__inner a span {
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
}
.menu_closeBtn .menu_closeBtn__inner a span:first-child {
  top: 0;
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
}
.menu_closeBtn .menu_closeBtn__inner a span:nth-child(2) {
  top: 6px;
  opacity: 0;
}
.menu_closeBtn .menu_closeBtn__inner a span:nth-child(3) {
  top: 12px;
  -webkit-transform: translateY(2px) rotate(45deg);
  transform: translateY(2px) rotate(45deg);
}
.footer__link {
  margin-top: 0;
  border-top: #e8e8e8 1px solid;
  padding: 21px 0 21px;
}
.footer_mt .footer__link {
  margin-top: 80px;
}
.footer__link p {
  font-size: 10px;
}
.footer__link p a {
  transition: none;
}
.footer__link p a:hover {
  opacity: 1;
}
.footer__link p span {
  margin: 0 4px;
}
.footer__copy {
  border-top: #e8e8e8 1px solid;
  padding: 25px 0 17px;
}
.footer__copy small {
  font-size: 10px;
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 20px;
}
.footer__copy small br {
  display: block;
}
.footer__copy ul {
  margin-top: 18px;
}
.footer__copy ul li {
  width: 19px;/*9px*/
}
.footer__copy ul li a {
  transition: none;
}
.footer__copy ul li a:hover {
  opacity: 1;
}
.home-lead {
  margin-top: 170px;
}
.home-lead__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.home-lead__logoSymbol {
  width: 60px;
}
.home-lead__logoTxt {
  margin-top: 22px;
  width: 200px;
}
.home-lead__txt {
  margin-top: 24px;
}
.home-lead__txt p {
  font-size: 10px;
  line-height: 1.9;
}
.home-lead__txt p a {
  padding-bottom: 1px;
  border-bottom: #777 1px solid;
  transition: none;
}
.home-lead__txt p a:hover {
  opacity: 1;
}
.home-visual {
  margin-top: 31px;
  height: 425px;
  background: url(./../img/flower1.jpg) no-repeat 50% 50% / cover;
}
.home-message {
  margin-top: 90px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
.home-message__ttl {
  padding: 0 12px 18px;
  border-bottom: #000 1px solid;
}
.home-message__ttl h2 {
  font-size: 30px;
}
.home-message__ttl .u-txt__label {
  margin-top: 8px;
}
.home-message__txt {
  margin-top: 36px;
}
.home-message__txt .u-txt__link {
  margin-top: 40px;
  text-align: center;
}
.home-message__txt--main {
  width: auto;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  line-height: 1.9;
}
.lang-ja .home-message__txt--main {
  font-size: 15px;
}
.home-message__txt--main a {
  border-bottom: #000 1px solid;
  transition: none;
}
.home-message__txt--main a:hover {
  opacity: 1;
}
.home-artist {
  margin-top: 75px;
}
.home-artist:after {
  content: none;
}
.home-artist__slider {
  height: 265px;
  background-size: 1320px auto;
  -webkit-animation: home_artist_slider 22s infinite
    cubic-bezier(0.5, 0.5, 0.5, 0.5);
  animation: home_artist_slider 22s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}
@-webkit-keyframes home_artist_slider {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1320px 0;
  }
}
@keyframes home_artist_slider {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1320px 0;
  }
}
.home-artist__ttl {
  position: static;
  bottom: auto;
  left: auto;
  background: #fff;
  padding: 45px 0 0;
  box-sizing: border-box;
  margin-left: 36px;
  margin-right: 36px;
}
.home-artist__ttl .u-txt__label {
  margin-top: 18px;
  font-size: 12px;
  line-height: 1.8;
}
.home-artist__ttl .u-txt__link {
  margin-top: 30px;
  text-align: center;
}
.home-news {
  margin-top: 50px;
  padding: 65px 0 60px;
}
.home-news__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.home-news__inner .u-txt__link {
  margin-top: 40px;
}
.home-news__ttl {
  margin-left: 12px;
  margin-right: 12px;
}
.home-news__ttl .u-txt__label {
  margin-top: 18px;
  font-size: 12px;
  line-height: 1.8;
}
.home-news__list {
  margin: 45px 0 0;
  display: block;
}
.home-news__list li {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 40px;
}
.home-news__list li:nth-child(2n) {
  margin-right: auto;
}
.home-news__list li:last-child {
  margin-top: 45px;
  margin-bottom: 0;
}
.home-news__list li a {
  transition: none;
}
.home-news__list li a:hover {
  opacity: 1;
}
.home-news__list li a figure {
  overflow: auto;
  position: static;
  height: initial;
  padding-top: initial;
}
.home-news__list li a figure img {
  position: static;
  width: 100%;
  height: auto;
  top: initial;
  left: initial;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.home-news__listTxt {
  margin: 12px 6px 0;
}
.home-news__listTxt p {
  font-size: 10px;
}
.home-news__listTxt p span {
  margin-right: 9px;
}
.home-news__listTxt p span:last-child {
  margin-right: 0;
}
.home-news__listTxt h3 {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.5;
}
.home-recruit {
  width: 100%;
  height: auto;
  background: none;
}
.home-recruit__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}
.home-recruit__bg {
  background: url(./../img/bridge.jpg) no-repeat 50% 50% / cover;
  height: 300px;
}
.home-recruit__ttl {
  position: static;
  top: auto;
  left: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background: #fff;
  padding: 42px 30px 80px;
  margin: -35px 12px 0;
  box-sizing: border-box;
}
.home-recruit__ttl .u-txt__label {
  margin-top: 18px;
  font-size: 12px;
  line-height: 1.8;
}
.home-recruit__ttl .u-txt__link {
  margin-top: 40px;
  text-align: center;
}
.content {
  padding-top: 126px;
}
.about-ttl__label {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.about-ttl__label h2:before {
  content: none;
}
.about-ttl__label .u-txt__label {
  margin-top: 6px;
  font-size: 12px;
}
.lang-ja .about-ttl__label .u-txt__label {
  margin-top: 10px;
  font-size: 10px;
}
.about-ttl__label .u-txt__link {
  margin-top: 38px;
}
.about-ttl__line {
  margin-top: 30px;
  width: auto;
  height: 7px;
  position: relative;
}
.about-ttl__line:after {
  content: none;
}
.about-ttl__line span {
  width: auto;
  height: 7px;
  margin-left: 24px;
}
.about-visual {
  height: auto;
  margin-top: 25px;
}
.about-visual__inner {
  position: relative;
  height: auto;
  padding-left: 0;
  padding-right: 0;
}
.about-visual__copy {
  position: static;
  top: auto;
  left: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.about-visual__copy h1 {
  color: #282828;
  font-size: 27px;
  line-height: 1.2;
}
.about-visual__copy .u-txt__label {
  margin-top: 18px;
  font-size: 12px;
}
.about-visual__img {
  margin-top: 20px;
  position: static;
  top: auto;
  right: auto;
  width: 100%;
}
.about-link {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  width: 189px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}
.about-link__block {
  width: auto;
  margin-top: -34px;
}
.about-message {
  margin-top: -120px;
}
.about-message__txt {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 12px;
  margin-top: 30px;
}
.about-message__txt p {
  font-size: 12px;
  line-height: 1.75;
}
.about-mission01 {
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
}
.about-mission01__txt {
  float: none;
  width: auto;
  margin: 0;
}
.about-mission01__txt .u-ttl__01 {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
}
.about-mission01__list {
  margin: 32px 12px 0 36px;
  padding: 0 0 2px 40px;
  border-left: #e8e8e8 3px solid;
}
.about-mission01__list li {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 16px;
  position: relative;
}
.about-mission01__list li:before {
  position: absolute;
  top: 3px;
  left: -20px;
  color: #777;
  font-size: 12px;
}
.about-mission02 {
  padding-bottom: 0;
}
.about-mission02__txt {
  padding-left: 36px;
  padding-right: 12px;
  margin-top: 60px;
}
.about-mission02__txt .u-ttl__01 {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
}
.about-mission02__txt .u-ttl__01 span:after,
.about-mission02__txt .u-ttl__01 span:before {
  font-size: 29px;
}
.about-mission02__txt .u-ttl__01 span:before {
  top: -12px;
  left: -19px;
}
.about-mission02__txt .u-ttl__01 span:after {
  bottom: -22px;
  right: -20px;
}
.about-mission02__txt .u-txt {
  margin-top: 25px;
  font-size: 12px;
  line-height: 2;
}
.about-mission2__img {
  margin-top: 75px;
  float: none;
  width: auto;
  height: auto;
  padding-left: 36px;
}
.about-artists {
  margin-top: 50px;
}
.about-artists__txt {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 12px;
  margin-top: 30px;
}
.about-artists__txt p {
  font-size: 12px;
  line-height: 1.75;
}
.about-artists__txt p.u-txt__link {
  margin-top: 30px;
}
.about-company {
  margin-top: 75px;
  padding: 85px 0 55px;
}
.about-company__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
.about-company__inner .u-ttl__dot {
  padding-left: 12px;
  font-size: 20px;
  line-height: 1.3;
}
.about-company__inner .u-ttl__dot:before {
  top: 12px;
  left: 0;
  width: 5px;
  height: 5px;
}
.about-company__inner .u-txt__label {
  margin-top: 8px;
  font-size: 10px;
  margin-left: 12px;
}
.about-company__infoGroup {
  width: auto;
  float: none;
}
.about-company__infoGroup:nth-child(2) {
  width: auto;
  float: none;
}
.about-company__infoGroup .about-company__table {
  margin-top: 35px;
}
.about-company__infoGroup .about-company__table tr th {
  width: 108px;
  font-size: 12px;
  padding-left: 12px;
}
.about-company__infoGroup .about-company__table tr td {
  padding-top: 0;
  padding-right: 12px;
  font-size: 12px;
}
.about-company__infoGroup:nth-child(2) {
  float: none;
  margin-top: 66px;
}
.about-company__infoGroup:nth-child(2) ol li {
  margin-bottom: 7px;
}
.about-company__infoGroup:nth-child(2) p:last-child {
  margin-top: 14px;
}
.about-company__office {
  margin-top: 75px;
}
.about-company__office .about-company__table {
  margin-top: 30px;
  border-top: 0;
}
.about-company__office .about-company__table tr td,
.about-company__office .about-company__table tr th {
  padding: 36px 0;
  border-bottom: 0;
}
.about-company__office .about-company__table tr td.bb0,
.about-company__office .about-company__table tr th.bb0 {
  border-bottom: none;
}
.about-company__office .about-company__table tr.pt0 td,
.about-company__office .about-company__table tr.pt0 th {
  padding-top: 0;
}
.about-company__office .about-company__table tr.pb0 td,
.about-company__office .about-company__table tr.pb0 th {
  padding-bottom: 1em;
}
.about-company__office .about-company__table tr th {
  width: 100%;
  display: block;
  border-top: #525252 1px solid;
  padding-bottom: 0;
  padding-left: 12px;
}
.about-company__office .about-company__table tr td {
  padding-top: 1.2em;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
}
.about-company__office .about-company__table tr td:first-of-type {
  width: 180px;
  padding-left: 12px;
}
.about-company__office .about-company__table tr td:nth-of-type(2) {
  width: calc(100% - 180px);
  padding-right: 12px;
}
.about-company__table tr td,
.about-company__table tr th {
  font-size: 12px;
  line-height: 1.8;
}
.about-company__table tr td a,
.about-company__table tr th a {
  transition: none;
}
.about-company__table tr td a:hover,
.about-company__table tr th a:hover {
  opacity: 1;
}
.artist-why__inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.artist-why__img {
  width: auto;
}
.artist-why__block .u-ttl__02 {
  font-size: 20px;
}
.artist-why__block .u-txt__label {
  font-size: 10px;
  margin-top: 4px;
}
.artist-why__blockTxt {
  max-width: auto;
  margin: 32px 0 0 24px;
}
.artist-why__blockTxt p {
  font-size: 10px;
  line-height: 1.7;
}
.artist-why01 .artist-why__img {
  float: none;
  max-width: auto;
  margin-top: 24px;
}
.artist-why01 .artist-why__img ul {
  margin-top: 0;
  margin-left: 24px;
}
.artist-why01 .artist-why__block {
  width: auto;
  float: none;
  margin-top: 45px;
}
.artist-why01 .artist-why__block .u-ttl__02:before {
  content: none;
}
.artist-why02 {
  margin-top: 65px;
}
.artist-why02 .artist-why__img {
  position: static;
  top: auto;
  right: auto;
  max-width: auto;
  height: auto;
  background: none;
  font-size: 0;
  line-height: 0;
  padding-left: 120px;
}
.artist-why02 .artist-why__img img {
  width: 100%;
  height: auto;
}
.artist-why02 .artist-why__block {
  width: auto;
  float: none;
  margin-top: 40px;
}
.artist-why02 .artist-why__block .u-ttl__02:before {
  content: none;
}
.artist-why__blockLink {
  max-width: 210px;
  margin: 15px 0 0 24px;
}
.artist-why__pager {
  font-size: 10px;
}
.artist-why__pager a {
  width: 60px;
  padding-bottom: 10px;
}
.artist-why__pager a .artist-why__pager--current {
  font-size: 12px;
}
.artist-why__pager a .artist-why__pager--sep {
  margin-left: 4px;
}
.artist-why__pager a .artist-why__pager--total {
  margin-left: 3px;
}
.artist-why__pager a:before {
  bottom: 1px;
  height: 8px;
  -webkit-transform: rotate(-57deg);
  transform: rotate(-57deg);
}
.artist-why__pager a:after {
  width: 60px;
  height: 1px;
}
.artist-murakami__visual {
  height: 0;
  padding-top: 96%;
  background: url(./../images/sp__artist-murakami_visual.jpg) no-repeat 0 0 /
    cover;
}
.artist-murakami__visualInner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.artist-murakami__visualTtl {
  width: 100%;
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -195%);
  transform: translate(-50%, -195%);
}
.artist-murakami__sns {
  list-style: none;
  background: #282828;
  text-align: center;
  padding: 18px 0 20px;
}
.artist-murakami__sns li {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  margin-right: 22px;
}
.artist-murakami__sns li:last-child {
  margin-right: 0;
}
.artist-murakami__sns li a {
  padding-left: 16px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.artist-murakami__sns li a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 11px;
  height: 11px;
}
.artist-murakami__sns li:first-child a:before {
  background: url(./../images/sns_insta_white.png) no-repeat 0 0/100% auto;
}
.artist-murakami__sns li:nth-child(2) a:before {
  background: url(./../images/sns_fb_white.png) no-repeat 0 0/100% auto;
}
.artist-murakami__sns li:nth-child(3) a:before {
  background: url(./../images/sns_tw_white.png) no-repeat 0 0/100% auto;
}
.artist-murakami__biography {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 52px;
  padding-left: 0;
  padding-right: 0;
}
.artist-murakami__biographyInfo {
  width: auto;
  float: none;
}
.artist-murakami__biographyInfo .u-ttl__02 {
  line-height: 1.35;
  margin-left: 24px;
}
.artist-murakami__biographyLine {
  margin-top: 16px;
  height: 5px;
  position: relative;
}
.artist-murakami__biographyLine div {
  background: #e8e8e8;
  height: 5px;
  margin-left: 24px;
}
.artist-murakami__biographyTxt {
  width: auto;
  float: none;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 24px;
}
.artist-murakami__biographyTxt p {
  font-size: 12px;
  line-height: 1.75;
  margin-bottom: 2em;
}
.artist-murakami__biographyTxt p:last-child {
  margin-bottom: 0;
}
.artist-murakami__history {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  margin-top: 130px;
}
.artist-murakami__history .u-ttl__02 {
  line-height: 1.35;
  margin-left: 24px;
}
.artist-murakami__historyList {
  margin-top: 0;
}
.artist-murakami__historyGroup {
  margin-top: 42px;
  margin-bottom: 0;
}
.artist-murakami__historyGroup:last-child {
  margin-bottom: 0;
}
.artist-murakami__historyYear {
  margin: 0 12px;
  width: auto;
  float: none;
  font-size: 10px;
  position: relative;
}
.artist-murakami__historyYear:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #282828;
}
.artist-murakami__historyYear span {
  padding-right: 12px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.artist-murakami__historyTxt {
  width: auto;
  float: none;
  border-top: none;
  padding-top: 0;
  margin: 22px 12px 0 48px;
}
.artist-murakami__historyTxt p {
  margin-right: 0;
  font-size: 10px;
  line-height: 2;
}
.artist-murakami__historyImg {
  margin: 20px 12px 0 48px;
  width: auto;
  float: none;
  max-width: 85.7142857142857%;
}
.artist-murakami__historyImg.artist-murakami__history__center {
  max-width: 100%;
}
.artist-murakami__historyImg li {
  width: 41.2698412698413%;
  margin-top: 20px;
}
.artist-murakami__historyImg li:nth-child(-n + 2) {
  margin-top: 0;
}
.artist-murakami__historyImg li:nth-child(2n) {
  margin-left: 2.8571428571429%;
}
.artist-murakami__historyImg li figure img {
  max-width: 100%;
  height: auto;
}
.artist-murakami__historyImg li figure figcaption {
  margin-top: 6px;
}
.artist-murakami__historyImg li.artist-murakami__historyImg--portrait img {
  width: 75%;
}
.artist-other__ttl {
  margin-top: 50px;
}
.artist-other__ttl:first-child {
  margin-top: 25px;
}
.artist-other__list {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 45px;
}
.artist-other__list ul {
  flex-direction: column;
  justify-content: center;
}
.artist-other__list ul li {
  max-width: 250px;
  margin: 62px auto 0;
}
.artist-other__list ul li:nth-child(-n + 4) {
  margin-top: 62px;
}
.artist-other__list ul li:first-child {
  margin-top: 0;
}
.artist-other__list ul li:nth-child(4n) {
  margin-right: auto;
}
.artist-other__list ul li a p span {
  display: none;
}
.artist-other__list ul li a h3 {
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.4;
  transition: none;
}
.artist-other__list ul li a:hover h3 {
  opacity: 1;
}
.artist-other__modalClose {
  top: 26px;
  right: 26px;
  width: 22px;
  height: 22px;
}
.artist-other__modalClose .artist-other__modalCloseInner a {
  height: 22px;
}
.artist-other__modalClose .artist-other__modalCloseInner a span {
  width: 22px;
}
.artist-other__modalInner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.artist-other__modalTtl {
  font-size: 20px;
}
.artist-other__modalTtl--label {
  margin-top: 8px;
  font-size: 12px;
}
.artist-other__modalBlock {
  margin-top: 25px;
}
.artist-other__modalImg {
  width: auto;
  float: none;
}
.artist-other__modalImg p {
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.artist-other__modalTxt {
  margin-top: 38px;
  width: auto;
  float: none;
}
.artist-other__modalTxt h3 {
  margin-top: 36px;
  font-size: 14px;
}
.artist-other__modalTxt div {
  margin-top: 18px;
}
.artist-other__modalTxt div p {
  font-size: 10px;
  line-height: 2;
}
.artist-other__modalTxt .u-txt__link {
  margin-top: 32px;
}
.artist-other__modalTxt .artist-other__modalLink {
  margin-top: 30px;
}
.artist-other__modalTxt .artist-other__modalLink--blank {
  margin-top: 0;
  float: left;
}
.artist-other__modalTxt .artist-other__modalLink--blank p {
  margin-top: 0;
}
.artist-other__modalTxt .artist-other__modalLink--sns {
  width: auto;
  margin-top: 6px;
  padding-left: 40px;
}
.artist-other__modalTxt .artist-other__modalLink--sns:before {
  width: 40px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
}
.artist-other__modalTxt .artist-other__modalLink--sns ul li {
  display: inline-block;
  margin-right: 16px;
}
.artist-other__modalTxt .artist-other__modalLink--sns ul li:last-child {
  margin-right: 0;
}
.artist-other__modalTxt .artist-other__modalLink--sns ul li a {
  width: 15px;
  height: 15px;
  transition: none;
}
.artist-other__modalTxt .artist-other__modalLink--sns ul li a:hover {
  opacity: 1;
}
.news__ttl .news__select {
  margin-top: 18px;
}
.lang-ja .news__ttl .u-txt__label {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 8px;
}
.news__select p {
  margin-right: 0;
  font-size: 10px;
}
.news__selectItem {
  margin-right: 10px;
}
.news__selectItem:last-child {
  margin-right: 0;
}
.news__selectInner {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 12px;
}
.news__selectInner:hover {
  transition: none;
}
.news__selectInner:hover:hover {
  opacity: 1;
}
.news__selectInner:after {
  top: 1px;
  right: 0;
  width: 5px;
  height: 5px;
}
.news__selectInner.js-active:after {
  top: 5px;
}
.news__selectContent {
  bottom: -10px;
  padding: 18px 24px;
}
.news__selectContentLabel {
  font-size: 10px;
  margin-bottom: 15px;
}
.news__list {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 45px;
}
.news__list ul {
  flex-direction: column;
  justify-content: center;
}
.news__list ul li {
  max-width: 250px;
  margin: 35px auto 0;
}
.news__list ul li:nth-child(-n + 3) {
  margin-top: 40px;
}
.news__list ul li:nth-child(3n) {
  margin-right: auto;
}
.news__list ul li:first-child {
  margin-top: 0;
}
.news__list ul li a {
  transition: none;
}
.news__list ul li a:hover {
  opacity: 1;
}
.news__listTxt {
  margin-top: 12px;
}
.news__listTxt p {
  font-size: 10px;
}
.news__listTxt p span {
  margin-right: 9px;
}
.news__listTxt h3 {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.25;
}
.news-single__meta {
  margin-top: 25px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  text-align: left;
}
.news-single__meta h1 {
  font-size: 20px;
}
.news-single__meta h2 {
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0;
}
.news-single__meta p {
  margin-top: 22px;
  font-size: 10px;
}
.news-single__meta p span {
  margin-right: 15px;
}
.news-single__meta p span a {
  transition: none;
}
.news-single__meta p span a:hover {
  opacity: 1;
}
.news-single__img {
  margin-top: 32px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
.news-single__content {
  margin-top: 50px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-left: 12px;
  margin-right: 12px;
}
.pageContents {
  font-size: 12px;
  line-height: 2;
}
.pageContents * {
  margin-top: 2em;
}
.pageContents a {
  transition: none;
}
.pageContents a:hover {
  opacity: 1;
}
.pageContents h1 {
  font-size: 30px;
  line-height: 1.4;
}
.pageContents h2 {
  font-size: 24px;
  line-height: 1.6;
}
.pageContents h3 {
  font-size: 20px;
  line-height: 1.6;
}
.pageContents h4,
.pageContents h5,
.pageContents h6 {
  font-size: 16px;
  line-height: 1.6;
}
.pageContents p {
  margin-top: 2em;
  font-size: 12px;
  line-height: 2;
}
.pageContents table tr td,
.pageContents table tr th {
  padding: 8px 10px 9px;
  font-size: 12px;
  line-height: 1.5;
}
.news-single__navi {
  margin-top: 80px;
  padding-bottom: 0;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.news-single__navi li {
  font-size: 10px;
}
.news-single__navi li a {
  transition: none;
}
.news-single__navi li a:hover {
  opacity: 1;
}
.news-single__navi li.news-single__navi--next a:before,
.news-single__navi li.news-single__navi--prev a:before {
  top: 6px;
  width: 15px;
}
.news-single__navi li.news-single__navi--next a:after,
.news-single__navi li.news-single__navi--prev a:after {
  top: 2px;
  width: 6px;
  height: 6px;
}
.news-single__navi li.news-single__navi--prev a:before {
  right: -36px;
}
.news-single__navi li.news-single__navi--prev a:after {
  left: -28px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.news-single__navi li.news-single__navi--next a:before {
  left: -36px;
}
.news-single__navi li.news-single__navi--next a:after {
  right: -28px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.news-single__navi li.news-single__navi--home {
  margin-left: 60px;
  margin-right: 60px;
}
.contact__form {
  margin-top: 40px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.contact__radio {
  width: auto;
  float: none;
  font-size: 12px;
}
.contact__radio .mwform-radio-field-text {
  display: inline-block;
  height: 28px;
  padding-left: 18px;
  transition: none;
}
.contact__radio .mwform-radio-field-text:hover {
  opacity: 1;
}
.contact__radio .mwform-radio-field-text:after,
.contact__radio .mwform-radio-field-text:before {
  top: 8px;
}
.contact__radio .mwform-radio-field-text:after {
  margin-top: -8px;
  width: 11px;
  height: 11px;
}
.contact__radio .mwform-radio-field-text:before {
  left: 3px;
  margin-top: -5px;
  width: 5px;
  height: 5px;
}
.contact__input {
  margin-top: 40px;
  width: auto;
  float: none;
}
.contact__input table tr td,
.contact__input table tr th {
  color: #282828;
  font-size: 11px;
  padding-bottom: 20px;
}
.contact__input table tr th {
  width: 40%;
}
.contact__input table tr th span {
  font-size: 10px;
}
.contact__input table tr td {
  width: 60%;
}
.contact__input table tr td input[type="email"],
.contact__input table tr td input[type="text"] {
  border: #e8e8e8 1px solid;
  font-size: 11px;
  padding: 7px 8px;
}
.contact__input table tr td input[type="email"]:focus,
.contact__input table tr td input[type="text"]:focus {
  border: #ccc 1px solid;
}
.contact__form02 {
  margin-top: 32px;
}
.contact__textarea h3 {
  font-size: 11px;
}
.contact__textarea h3 span {
  font-size: 10px;
  margin-left: 4px;
}
.contact__textarea textarea {
  margin-top: 10px;
  height: 128px;
  border: #e8e8e8 1px solid;
  font-size: 11px;
  padding: 7px 8px;
}
.contact__textarea textarea:focus {
  outline: 0;
  border: #ccc 1px solid;
}
.contact__form03 {
  margin-top: 35px;
}
.contact__form03 p {
  font-size: 10px;
  line-height: 1.8;
}
.contact__form03 p br {
  display: block;
}
.contact__form03 p a {
  transition: none;
}
.contact__form03 p a:hover {
  opacity: 1;
}
.contact__checkbox {
  margin-top: 22px;
}
.contact__checkbox .mwform-checkbox-field-text {
  font-size: 12px;
  padding-left: 20px;
  transition: none;
}
.contact__checkbox .mwform-checkbox-field-text:hover {
  opacity: 1;
}
.contact__checkbox .mwform-checkbox-field-text:after,
.contact__checkbox .mwform-checkbox-field-text:before {
  top: 9px;
}
.contact__checkbox .mwform-checkbox-field-text:after {
  margin-top: -9px;
  width: 14px;
  height: 14px;
}
.contact__checkbox .mwform-checkbox-field-text:before {
  left: 5px;
  margin-top: -6px;
  width: 2px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.contact__form04 {
  margin-top: 27px;
}
.contact__submit p {
  display: block;
}
.contact__submit input[type="submit"] {
  display: block;
  width: 100%;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  font-size: 15px;
  transition: none;
}
.contact__submit input[type="submit"]:hover {
  opacity: 1;
}
.mw_wp_form .error {
  margin-top: 6px !important;
  font-size: 12px !important;
}
.mw_wp_form .contact__checkbox .error {
  margin-top: 12px !important;
}
.mw_wp_form_confirm .contact__textareaContent {
  margin-top: 10px;
  font-size: 11px;
  line-height: 1.4;
}
.mw_wp_form_confirm .contact__submit p {
  margin-right: 0;
  margin-bottom: 20px;
}
.mw_wp_form_confirm .contact__submit p:last-child {
  margin-bottom: 0;
}
.page-id-15 .contact__txt,
.page-id-16 .contact__txt {
  margin-top: 40px;
}
.page-id-15 .contact__form,
.page-id-16 .contact__form {
  margin-top: 40px;
}
.u-text__block {
  margin-top: 50px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.u-text__block .u-ttl__02 {
  font-size: 16px;
}
.u-text__block .u-ttl__01 {
  font-size: 14px;
}
.u-text__block .u-txt {
  margin-top: 8px;
}
.u-text__block .u-txt p {
  font-size: 12px;
}
.u-text__block .u-txt p a {
  transition: none;
}
.u-text__block .u-txt p a:hover {
  color: #282828;
}
.privacypolicy__group {
  margin-bottom: 20px;
}
.privacypolicy__group:last-child {
  margin-bottom: 0;
}
