
#nav {
    width:100px;
    background-color: red;
    float: left;
    opacity: 0.5;
    width:100%;
}
h1 {
    text-align: center;
}
#pbar{
    
    top:0px;
    left:0px;   
    position:fixed;
    height: 100vh;
    width:100px;
    float: none;
 
   display: inline-block;
 
   vertical-align: middle;

    background-color: midnightblue;
}
.round{

    background-color:darkgrey;
    margin-left: 5vw;
    margin-right: 5vw;
    
    border-radius:30px;
    
}


.subframe{
    position: relative;
    width: 100%;
    border-radius:30px;

}

section {
	font-family: Microsoft JhengHei, serif;	
	width: 100%; height: 100vh;
	background-attachment: fixed;
	/*background-position: center center;*/
    background-size: cover;
    border-radius:50px;
    margin-bottom:20px;
    margin-top:0px;


/* Flex Box 設定內部元素置中	 */
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}


.content-center{
    background-position: center center;
    display: flex;
	justify-content: center;
    align-items: center;

}
.content-left{
    padding-left: 10vw;
    padding-top:40vh;
}
.fixed {
    position: fixed;
    bottom: 0;
	/*display:center;
	text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}
.fixedcenter{
    position: fixed;
	display:center;
	text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.air{
    background-color:blue;
    opacity: 0;
    height:100vh ;
}
#reminder{
    background-color:yellow;
    opacity: 50%;
    width: 100%;
}
#iphone{
    height:90vh;
    animation:zoom 1s;
}

#menu{
    background-color:green;
    /*background-image: url("assets/123.png");*/
    border-radius:0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}
#menu2{
    background-color:pink;
    /*background-image: url("assets/123_2.png");*/
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.sub1{
    height:100vh;
    background-color: cadetblue;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius:30px;
    opacity:0.5;
    z-index: 2;
}
.sub2{
    height:90vh ;
    background-color: cyan;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius:30px;
    opacity:0.5;
    margin-top: 0vh;
    z-index: 3;
    
}
.sub3{
    height:80vh;
    background-color:blue;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius:30px;
    margin-top: 0vh;
    
    z-index: 999;
    opacity:0.5;
   
}
.glass{
    opacity: 0;
}


@keyframes zoom{
    from{
        height: 50vh;
        /*padding-top:20vh;*/

    }
    to{
        height :90vh;
        /*padding-top:10vh*/

    }
}
