<footer class="js-fadein">
  <div class="footer__link">
    <p>
      <a href="{{ site.url }}/feed.xml">RSS Subscribe</a><span>/</span
      ><a href="">Privacy Policy</a>
    </p>
  </div>
  <!-- .footer__link -->
  <div class="footer__copy">
    <small>Riino Lin. All Rights Reserved.</small>
    <small>&copy</small>
    <ul>
      <li>
        <a href="{{site.github_url}}" target="_blank"
          ><img src="{{ site.url }}/img/logo_Nest.png" alt="Github" /><span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span
        ></a>
      </li>
    </ul>
  </div>
  <!-- .footer__copy -->
</footer>
<!--Search Bar-->
<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="Title Tag " >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="Double click ctrl"/>
</div>

<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>

<!--Search Bar end-->







<div class="menu sp">
  <div class="menu__inner">
    


    <ul>
      {% for link in site.navigation %} {% assign current = nil %} {% if
      page.url == link.url or page.layout == link.layout %} {% assign current =
      'is-current is-active' %} {% endif %}

      <li class=" {{ current }} ">
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>

      {% endfor %}
    </ul>
<!--
    <ul style="left: 200px;">
        <li>???</li>
        <li>???1</li>
        <li>???1</li>
        <li>???1</li>
    </ul>

-->


    <div class="menu_closeBtn">
      <div class="menu_closeBtn__inner">
        <a href="javascript:void(0);">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- .menu_closeBtn__inner -->
    </div>
    <!-- .menu_closeBtn -->


  </div>
  <!-- .menu__inner -->
</div>
<!-- .menu -->
