<style type="text/css">
    li{
        text-transform:uppercase;
    }
    </style>
    <header><div class="header__inner u-clearfix">
        <nav class="header__navi pc">
            <ul class="u-clearfix">
                <!--
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                -->


                {% for link in site.navigation %}
                    {% assign current = nil %}
                     {% if page.url == link.url or page.layout == link.layout %}
                            {% assign current = 'is-current is-active' %}
                    {% endif %}
                    
                     <li class=" {{ current }} ">
                        <a href="{{ link.url }}">{{ link.text }}</a>
                    </li>
                    
                {% endfor %}
     



<!--
                {% for page in site.pages %}
               
                    {% if page.title and page.hide-in-nav != true %}
                    
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
    -->
    
                <li class="navi__lang js-lang">
                    <a class="navi__langLink" href="javascript:void(0);">BLOG</a>
                    <div class="navi__langList">
                        <span><a href="javascript:void(0);">LOW ILL.</a></span>
                        <span><a href="javascript:void(0);">MINECRAFT</a></span>
                        
                    </div>
                </li>
                <li>
                    <i class="fa fa-adjust" aria-hidden="true" style="display:inline"></i>
                    <a id="theme-toggle" href="javascript:void(0)" style="list-style-type:none!important;display:inline"onclick="modeSwitcher()">theme-toggle</a>
                </li>
                
            </ul>
    

        </nav><!-- .header__navi -->
                    <nav class="header__sns pc">
                <ul class="u-clearfix">
                    <li><a href="{{site.github_url}}" target="_blank"><i class="fa fa-github-alt"></i>GITHUB</a></li>
                </ul>
            </nav><!-- .header__sns -->
            <div class="header__logo sp" style="background-color: white;">
                <a href="{{site.url}}">
                    <p class="header__logoTxt"><img src="{{ site.url }}/img/logo_Nest.png" alt="Riino BLOG"></p>
                </a>
            </div><!-- .header__logo -->
        
        <div class="menuBtn sp">
            <div class="menuBtn__inner">
                <a href="javascript:void(0);">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div><!-- .menuBtn__inner -->
        </div><!-- .menuBtn -->
    </div></header>
    
    
    
    <!--<section style="height: 200px;"></section>-->
<script>
let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)"); 
let theme = sessionStorage.getItem('theme');

if (systemInitiatedDark.matches) { 
	//document.getElementById("theme-toggle").innerHTML = "Light Mode";
    $("#theme-toggle").html("Light Mode");
    $("#theme-toggle-mobile").html("Light Mode");
} else {
	//document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    $("#theme-toggle").html("Dark Mode");
    $("#theme-toggle-mobile").html("Dark Mode");
}

function prefersColorTest(systemInitiatedDark) {
  if (systemInitiatedDark.matches) {
  	document.documentElement.setAttribute('data-theme', 'dark');		
	   //document.getElementById("theme-toggle").innerHTML = "Light Mode";
    $("#theme-toggle").html("Light Mode");
    $("#theme-toggle-mobile").html("Light Mode");
    sessionStorage.setItem('theme', '');
    console.log("Your default theme is Dark");
  } else {
  	document.documentElement.setAttribute('data-theme', 'light');
	//document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    $("#theme-toggle").html("Dark Mode");
    $("#theme-toggle-mobile").html("Dark Mode");
    sessionStorage.setItem('theme', '');
    console.log("Your default theme is Light");
  }
}
systemInitiatedDark.addListener(prefersColorTest);


function modeSwitcher() {
	let theme = sessionStorage.getItem('theme');
	if (theme === "dark") {
		document.documentElement.setAttribute('data-theme', 'light');
		sessionStorage.setItem('theme', 'light');
        $("#theme-toggle").html("Dark Mode");
        $("#theme-toggle-mobile").html("Dark Mode");
	}	else if (theme === "light") {
		document.documentElement.setAttribute('data-theme', 'dark');
		sessionStorage.setItem('theme', 'dark');
        $("#theme-toggle").html("Light Mode");
        $("#theme-toggle-mobile").html("Light Mode");
	} else if (systemInitiatedDark.matches) {	
		document.documentElement.setAttribute('data-theme', 'light');
		sessionStorage.setItem('theme', 'light');
        $("#theme-toggle").html("Dark Mode");
        $("#theme-toggle-mobile").html("Dark Mode");
	} else {
		document.documentElement.setAttribute('data-theme', 'dark');
		sessionStorage.setItem('theme', 'dark');
        $("#theme-toggle").html("Light Mode");
        $("#theme-toggle-mobile").html("Light Mode");
	}
}


if (theme == "dark") {
	document.documentElement.setAttribute('data-theme', 'dark');
	sessionStorage.setItem('theme', 'dark');
	//document.getElementById("theme-toggle").innerHTML = "Light Mode";
    $("#theme-toggle").html("Light Mode");
    $("#theme-toggle-mobile").html("Light Mode");
} else if (theme == "light") {
	document.documentElement.setAttribute('data-theme', 'light');
	sessionStorage.setItem('theme', 'light');
	//document.getElementById("theme-toggle").innerHTML = "Dark Mode";
    $("#theme-toggle").html("Dark Mode");
    $("#theme-toggle-mobile").html("Dark Mode");
}

// //force Dark
// document.documentElement.setAttribute('data-theme', 'dark');
// 	sessionStorage.setItem('theme', 'dark');
// 	//document.getElementById("theme-toggle").innerHTML = "Light Mode";
// 	$("#theme-toggle").html("Light Mode");
prefersColorTest(systemInitiatedDark);
</script>