<form id="cloudsh" margin:0px auto >
    <input id="q" />
    <button class="btn">Search</button>
  </form>
  <div id="results"></div>
  <script src="https://app.cloudsh.com/js/cloudsh.js"></script>
  <script>
    var CshConf = {
      token: "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiNWZhYmNkYjMtMzgwMi00M2Y0LTk4NDAtYTdiMDQzNWUxNjM3IiwiaW5kZXhfaWQiOiI1NzgzZjEyZC00NjJkLTQ2OWYtYTJmMy04MWRkZDBiMTNiNTUiLCJpbmRleF91cmwiOiJodHRwczovL3JpaW5vLnNpdGUifQ.SbRuKeUt-ld9l_rqB-VMnTEF_i1OusoccC75nXTSfm4",
      formId: "#cloudsh",
      resultsId: "#results",
    };
  </script>