.ab {
    height: 680px;
    background: white;
}
.a_l {
    padding: 30px;
    float: left;
    width: 23%;
    height: auto;
}

.a_r {
    float: right;
    padding: 30px;
    width: 60%;
    height: 621px;
}
.a_l>img {
    border: 2px solid #77B931;
    border-radius: 50%;
}
.xm {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 15px;
}
.a_l ul li .xinxi {
    width: 90%;
    line-height: 35px;
    background: #77B931;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.xinxi_text {
    font-size: 14px;
    padding: 10px 30px;
    line-height: 24px;
    font-weight: bold;
}

.r_title {
    padding-left: 10px;
    background: url("../img/2.png") no-repeat 0;
    background-size: 35px 30px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #77B931;
}

.r_title span {
    display: block;
    width: 100px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    background: #77B931;
}
.r_content {
    padding: 15px 30px;
}
a {
    color: white;
}
.r_content {
    line-height: 25px;
}
.r_title p  {
    font-size: 20px;

    text-align: center;
}
.r_title p a {
    color: #77B931;
    font-weight: bold;

}
.r_title p a:hover {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #77B931;
    color: white;
}
.nav ul li {
    float: left;
    margin-right: 9px;
}
.nav ul li:last-child {
    margin-right: 0;
}
.clear {
    clear: both;
}
.nav {
    height: 30px;
}
.nav a {
    display: inline-block;
    padding: 5px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #77B931;
    color: white;
}
.now {
    color: #456b1b!important;
}
.nav a:hover {
    color: #456b1b;
}
.bj {
    margin: 20px 0 10px 0 ;
    padding-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #77B931;
    border-bottom: 1px solid #77B931;
}
.img {
    width: 40%;
    float: left;
    height: 50px;
}
.nr {
    height: 150px;
    margin-bottom: 20px;
}
.img_text {
    text-indent: 2em;
    line-height: 24px;
    float: right!important;
    width: 55%;
    height: 50px;
}
.jntc {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.jntc li {
    width: 230px;
    height: 180px;
    margin-bottom: 50px;
}
.jntc li p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
.jntc li img {
    height: 180px;
}