* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    background: #565656;
}
.a {
    width: 900px;
    margin: 30px auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}